In [1]:
import os
import sys
import pandas as pd

sys.path.append("..")

import m49

In [2]:
pd.set_option("display.max_columns", 2000)
pd.set_option("display.max_row", 4000)

### Country / Codes

In [3]:
m = m49.M49(code_file='../data/M49_country_codes.txt')

### Individual GapMinder CSVs

gm_fp = './data/GapMinder_Raw_CSVs/'

files = [f for f in os.listdir(gm_fp) if os.path.isfile(os.path.join(gm_fp, f))]
files

for f in files:
    df = pd.read_csv('./data/GapMinder_Raw_CSVs/' + f)

### Combined GapMinder CSVs

In [4]:
fp_gmc = "../data/GapminderData.csv"

In [5]:
df_gm = pd.read_csv(fp_gmc)
df_gm.drop(columns='index', inplace=True)
df_gm.head()

,country,Date,POPULATION,UNCTRY,ANNUAL_BIRTH_RATE_PER_1000,LIFE_EXP_YEARS,LIFE_EXP_YEARS_F,LIFE_EXP_YEARS_M,CHILD_MORTALITY,GDP_USD,INFLATION_PERCENT,EMPLOYMENT,GINI,AID_RECEIVED_PP,GIRLS_V_BOYS_EDU,ADULT_LIT_RATE,ADULT_LIT_RATE_F,ADULT_LIT_RATE_M,JOURNALISTS_KILLED,CELL_PHONE_PER_100,CORRUPTION_INDEX,DEMOCRACY_SCORE,HUMAN_DEV_SCORE,MURDER_PER_1000
0,Afghanistan,1980,13200000,4,50.6,43.3,42.7,41.1,245.0,NaN,NaN,NaN,NaN,2.490,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-10.0,NaN,NaN
1,Afghanistan,1981,13100000,4,50.5,44.1,43.4,41.7,238.0,NaN,NaN,NaN,NaN,1.830,0.243,NaN,NaN,NaN,NaN,0.0,NaN,-10.0,NaN,NaN
2,Afghanistan,1982,12700000,4,50.4,43.8,44.1,42.4,232.0,NaN,NaN,NaN,NaN,0.732,0.484,NaN,NaN,NaN,NaN,0.0,NaN,-10.0,NaN,NaN
3,Afghanistan,1983,12400000,4,50.2,42.0,44.8,43.2,225.0,NaN,NaN,NaN,NaN,1.070,NaN,NaN,NaN,NaN,NaN,0.0,NaN,-10.0,NaN,NaN
4,Afghanistan,1984,12000000,4,50.1,39.8,45.6,43.9,218.0,NaN,NaN,NaN,NaN,0.540,0.471,NaN,NaN,NaN,NaN,0.0,NaN,-10.0,NaN,NaN

In [6]:
df_gm.Date.unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017], dtype=int64)

In [7]:
len(df_gm)

6346

In [8]:
df_gm['m49'] = df_gm.country.apply(m.area_to_m49)

In [9]:
df_gm['iso_alpha3'] = df_gm.m49.apply(m.m49_to_iso_alpha3)

In [10]:
df_gm['iso_alpha_year'] = df_gm.iso_alpha3 + "_" + df_gm.Date.astype(str)

In [11]:
df_gm_merge = df_gm[['POPULATION', 'UNCTRY', 'ANNUAL_BIRTH_RATE_PER_1000',
       'LIFE_EXP_YEARS', 'LIFE_EXP_YEARS_F', 'LIFE_EXP_YEARS_M',
       'CHILD_MORTALITY', 'GDP_USD', 'INFLATION_PERCENT', 'EMPLOYMENT', 'GINI',
       'AID_RECEIVED_PP', 'GIRLS_V_BOYS_EDU', 'ADULT_LIT_RATE',
       'ADULT_LIT_RATE_F', 'ADULT_LIT_RATE_M', 'JOURNALISTS_KILLED',
       'CELL_PHONE_PER_100', 'CORRUPTION_INDEX', 'DEMOCRACY_SCORE',
       'HUMAN_DEV_SCORE', 'MURDER_PER_1000',
       'iso_alpha_year']]

### CIRI Data 1981-2011

In [12]:
fp_ciri = "../data/CIRI_Data_1981_2011.csv"

In [13]:
df_ciri = pd.read_csv(fp_ciri)
df_ciri.head()

,CTRY,YEAR,CIRI,COW,POLITY,UNCTRY,UNREG,UNSUBREG,PHYSINT,DISAP,KILL,POLPRIS,TORT,OLD_EMPINX,NEW_EMPINX,ASSN,FORMOV,DOMMOV,OLD_MOVE,SPEECH,ELECSD,OLD_RELFRE,NEW_RELFRE,WORKER,WECON,WOPOL,WOSOC,INJUD
0,Afghanistan,1981,101,700.0,700.0,4.0,142,62,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1982,101,700.0,700.0,4.0,142,62,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
2,Afghanistan,1983,101,700.0,700.0,4.0,142,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Afghanistan,1984,101,700.0,700.0,4.0,142,62,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Afghanistan,1985,101,700.0,700.0,4.0,142,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [14]:
# countries that do not have UN Country Codes in CIRI
df_ciri[df_ciri.UNCTRY.isnull()].CTRY.unique()

array(['Kosovo', 'Soviet Union', 'Taiwan', 'Yemen, South'], dtype=object)

In [15]:
df_ciri = df_ciri[df_ciri.UNCTRY.notnull()].copy()

In [16]:
df_ciri['m49'] = df_ciri.UNCTRY.astype(int)

In [17]:
df_ciri['iso_alpha3'] = df_ciri.m49.apply(m.m49_to_iso_alpha3)

17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
736
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891
891

In [18]:
df_ciri['iso_alpha_year'] = df_ciri.iso_alpha3 + "_" + df_ciri.YEAR.astype(str)

In [19]:
df_ciri_merge = df_ciri[['CIRI', 'COW', 'POLITY', 'UNCTRY', 'UNREG', 'UNSUBREG',
       'PHYSINT', 'DISAP', 'KILL', 'POLPRIS', 'TORT', 'OLD_EMPINX',
       'NEW_EMPINX', 'ASSN', 'FORMOV', 'DOMMOV', 'OLD_MOVE', 'SPEECH',
       'ELECSD', 'OLD_RELFRE', 'NEW_RELFRE', 'WORKER', 'WECON', 'WOPOL',
       'WOSOC', 'INJUD', 'iso_alpha_year']]

### Country-Year: V-Dem Full + Others
All 450+ V-Dem indicators and indices + 59 other indicators from other data sources.

In [20]:
df_vd = pd.read_csv("../data/V-Dem-CY-Full+Others-v9.csv")

C:\Users\colin\miniconda3\envs\ai4good\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (507,509,510,793,794,1055,2791,3007,3008,3063,3065,3069,3070,3072,3073,3833,3834,3836) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
len(df_vd)

26834

In [22]:
# these country codes will be dropped
[x for x in df_vd.country_text_id.unique() if x not in m.iso_alpha3]

['BDN',
 'BRW',
 'BVR',
 'DDR',
 'HDM',
 'HKS',
 'HRG',
 'HVR',
 'MCL',
 'MDN',
 'NSS',
 'OLD',
 'PPS',
 'PRM',
 'PSB',
 'PSG',
 'SAX',
 'SML',
 'SPD',
 'SXN',
 'TSC',
 'TWN',
 'TWS',
 'VDR',
 'WRG',
 'XKX',
 'YMD',
 'ZZB']

In [23]:
df_vd = df_vd[~df_vd.country_text_id.isin(m.iso_alpha3)]

In [24]:
df_vd['iso_alpha3'] = df_vd.country_text_id

In [25]:
df_vd['iso_alpha_year'] = df_vd.iso_alpha3 + "_" + df_vd.year.astype(str)

In [26]:
df = df_vd.merge(right=df_gm, how='outer', on='iso_alpha_year',
                 suffixes=['vd', 'gm'])

In [27]:
df = df.merge(right=df_ciri, how='outer', on='iso_alpha_year',
              suffixes=['vdgm', 'ci'])

In [28]:
df['year'] = df.iso_alpha_year.str.split('_', expand=True)[1].astype(int)

In [29]:
len(df)

9553

In [30]:
for y in range(1990, 2019):
    _df = df[df.year == y]
    print(y, 'records: ', len(_df))

1990 records:  205
1991 records:  204
1992 records:  204
1993 records:  204
1994 records:  204
1995 records:  204
1996 records:  204
1997 records:  204
1998 records:  204
1999 records:  205
2000 records:  205
2001 records:  205
2002 records:  205
2003 records:  205
2004 records:  205
2005 records:  205
2006 records:  205
2007 records:  206
2008 records:  206
2009 records:  206
2010 records:  206
2011 records:  206
2012 records:  172
2013 records:  172
2014 records:  172
2015 records:  172
2016 records:  172
2017 records:  172
2018 records:  5

In [35]:
df.to_csv('../data/gapminder_ciri_v-dem_merged.csv')