In [2]:
import pandas as pd
import sqlite3 as sql

In [6]:
df = pd.read_csv('../data/section1a_africa_2018.csv')

In [8]:
df = df.drop(columns = ['Unnamed: 0'])
df.head()

    CountryName                                             Report
0        Angola  There were reports the government or its agent...
1         Benin  There were no reports the government or its ag...
2      Botswana  There were no reports the government or its ag...
3  Burkina Faso  Unknown assailants, but assumed to belong in s...
4       Burundi  There were numerous reports the government or ...

In [10]:
dtypes = {'CountryName': 'TEXT',
         'Report': 'TEXT'}

In [37]:
# keeping for ease of later use
dtypes = {'CTRY': 'TEXT',
         'YEAR': 'INT',
         'CIRI': 'INT',
         'COW': 'FLOAT',
         'POLITY': 'FLOAT',
         'UNCTRY': 'FLOAT',
         'UNREG': 'INT',
         'PHYSINT': 'FLOAT',
         'DISAP': 'FLOAT',
         'KILL': 'FLOAT',
         'POLPRIS': 'FLOAT',
         'TORT': 'FLOAT',
         'OLD_EMPINX': 'FLOAT',
         'NEW_EMPINX': 'FLOAT',
         'ASSN': 'FLOAT',
         'FORMOV': 'FLOAT',
         'DOMMOV': 'FLOAT',
         'OLD_MOVE': 'FLOAT',
         'SPEECH': 'FLOAT',
         'ELECSD': 'FLOAT',
         'OLD_RELFRE': 'FLOAT',
         'NEW_RELFRE': 'FLOAT',
         'WORKER': 'FLOAT',
         'WECON': 'FLOAT',
         'WOPOL': 'FLOAT',
         'WOSOC': 'FLOAT',
         'INJUD': 'FLOAT'}

In [11]:
# connect to MS_hackathon.db within the data/ directory, makes it if it doesn't exist
conn = sql.connect('../data/MS_hackathon.db')

In [12]:
# create a new table from a dataframe, dtype to specify data types
df.to_sql('section1a_africa', conn, dtype = dtypes)

In [48]:
# general query format
results = conn.execute('''SELECT KILL, YEAR FROM CIRI WHERE CTRY="Canada"''').fetchall()
results

[(2.0, 1981),
 (2.0, 1982),
 (2.0, 1983),
 (2.0, 1984),
 (2.0, 1985),
 (2.0, 1986),
 (2.0, 1987),
 (2.0, 1988),
 (2.0, 1989),
 (2.0, 1990),
 (2.0, 1991),
 (2.0, 1992),
 (2.0, 1993),
 (2.0, 1994),
 (2.0, 1995),
 (2.0, 1996),
 (2.0, 1997),
 (2.0, 1998),
 (2.0, 1999),
 (2.0, 2000),
 (2.0, 2001),
 (2.0, 2002),
 (2.0, 2003),
 (2.0, 2004),
 (1.0, 2005),
 (1.0, 2006),
 (1.0, 2007),
 (1.0, 2008),
 (2.0, 2009),
 (1.0, 2010),
 (2.0, 2011)]